/* Keep this first */
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* This should come after .button to override */
.confirm {
  background: green;
  color: white;
  font-weight: bold;
}

/* Paragraphs */
.para,
.small-para {
  color: hsl(0, 100%, 50%);
}

/* Small para should be less large */
.small-para {
  font-size: 14px;
}

/* Paragraph should be bigger */
.para {
  font-size: 22px;
}

/* This fixes the cascade for child text */
div.text {
  color: green;
  font-size: 22px;
}

/* The child should override its parent’s color and size */
.text .child {
  color: red;
  font-size: 14px;
}
